<nav>
  <ul>
      <li><a href="/auth/logout">Logout</a>
      <li><a href="/activities">Activities</a>
        <li><a href="/profile">Profile</a>
  </ul>
</nav>
  


<h1>Look at all this</h1>

<table class="responsive-table highlight">
    <thead>
      <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Distance</th>
          <th>Elevation Gain</th>
          <th>PR Count</th>
      </tr>
    </thead>
    <tbody>
      <% activity.forEach(function(activity) { %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.type %></td>
        <td><%= activity.distance %></td>
        <td><%= activity.total_elevation_gain %></td>
        <td><%= activity.pr_count %></td>
        <form method="GET" action="/edit">
          <td><button type="submit">Edit</button></td>
        </form>
      <% }); %>
    </tbody>
  </table>
  <h1>Why are you so awesome</h1>
