<div>
    <h3>Recent Activities</h3>
        <table class='striped responsive-table'>
                <tr>
                    <th>Sport</th>
                    <!-- <th>Date</th> -->
                    <th>Title</th>
                    <th>Time</th>
                    <th>Distance</th>
                    <th>Elevation</th>
                </tr>
                <tr>
                    <td><%= activity.type %></td>
                    <td><%= activity.name %> <button class="waves-effect waves-light btn-small">save to top 5</button></td>
                    <td><%= activity.moving_time %></td>
                    <td><%= activity.distance %></td>
                    <td><%= activity.total_elevation_gain %></td>
                 </tr>
                 <tr>
                    <td><%= activity.type %></td>
                    <td><%= activity.name %></td>
                    <td><%= activity.moving_time %></td>
                    <td><%= activity.distance %></td>
                    <td><%= activity.total_elevation_gain %></td>
                 </tr>
                 <tr>
                    <td><%= activity.type %></td>
                    <td><%= activity.name %></td>
                    <td><%= activity.moving_time %></td>
                    <td><%= activity.distance %></td>
                    <td><%= activity.total_elevation_gain %></td>
                 </tr>
        </table>
</div>