<nav>
    <ul>
        <li><a href="/auth/logout">Logout</a></nav></li>
    </ul>



<!-- pull activity data and look through -->

<section class=" profile">
    <div class="data-container">
        <div class="row">
            <div class="profileHeader">
                <span class='margin-top'>My 2020 Wrapped</span>
            </div>
            <div class="col s6">
                <p class='mileage'>I covered</p>
                <p class='dataLg'>250</p>
                <p class='mileage'>miles on my feet</p>
            </div>
            <div class="col s6">
                <p class='mileage'>Elevation climbed</p>
                <p class='dataLg'>10,000</p>
                <p class='mileage'>feet</p>
            </div>
            <div class="col s6">
                <!-- <p class="mileage">Best PR's</p>
                <div class="kudos">
                    <p> PR : Time</p>
                    <p> PR : Time</p>
                    <p> PR : Time</p>
                    <p> PR : Time</p>
                    <p> PR : Time</p>
                </div> -->
                
            </div>
          </div>     
    </div>
</section>

<h3>Recent Activities</h3>
<table class='striped responsive-table'>
        <tr>
            <th>Sport</th>
            <!-- <th>Date</th> -->
            <th>Title</th>
            <th>Time</th>
            <th>Distance</th>
            <th>Elevation</th>
        </tr>
        <td><%= activity.type %></td>
        <td><%= activity.name %></td>
        <td><%= activity.moving_time %></td>
        <td><%= activity.distance %></td>
        <td><%= activity.total_elevation_gain %></td>
</table>