<nav>
    <ul>
        <li><a href="/auth/logout">Logout</a></nav></li>
    </ul>



<!-- pull activity data and look through -->

<section class=" profile">
    <div class="data-container">
        <div class="row">
            <div class="profileHeader">
                <span class='margin-top'>My 2020 Roundup</span>
            </div>
            <div class="col s6">
                <p class='stats'>I covered</p>
                <p class='dataLg'>250</p>
                <p class='stats'>miles on my feet</p>
            </div>
            <div class="col s6">
                <p class='stats'>Elevation climbed</p>
                <p class='dataLg'>10,000</p>
                <p class='stats'>feet</p>
            </div>
            <div class="col s6">
                <p class="pr-header">personal records</p>
                <p class='pr'>whoa</p>
                <p class='pr'>whoa</p>
                <p class='pr'>whoa</p>
                <p class='pr'>whoa</p>
                <p class='pr'>whoa</p>
                <p class='pr'>whoa</p>
            </div>
            <div class="col s6">
                <p class="pr-header">Top Activity Types</p>
                <p class='pr'>run</p>
                <p class='pr'>bike</p>
                
            </div>
            <div class="col s6">
                <p class="pr-header">routes with top distances traveled</p>
                <p class='pr'>route name</p>
                <p class='pr'>route name</p>
                <p class='pr'>route name</p>
                <p class='pr'>route name</p>
               
            </div>
            <div class="col s6">
                <p class="pr-header">another stat</p>
                <p class='pr'>stat</p>
            </div>
          </div>     
    </div>
</section>

<h3>Recent Activities</h3>
<table class='striped responsive-table'>
        <tr>
            <th>Sport</th>
            <!-- <th>Date</th> -->
            <th>Title</th>
            <th>Time</th>
            <th>Distance</th>
            <th>Elevation</th>
        </tr>
        <td><%= activity.type %></td>
        <td><%= activity.name %></td>
        <td><%= activity.moving_time %></td>
        <td><%= activity.distance %></td>
        <td><%= activity.total_elevation_gain %></td>
</table>