<nav class="deep-orange">
    <ul>
        <li><a href="/auth/logout">Logout</a>
            <li><a href="/activities">Activities</a>
    </ul>
</nav>
    



<!-- pull activity data and look through -->
<div class='margin-top'>

<section class=" profile">
    <div class="data-container">
        
        <div class="row">
            <div class="profileHeader">
            <span class='margin-top skew-title'> Be Proud Dashboard</span>
            </div>
                <h3 class='tweak'>This Year</h3>
                    <div class="col s12 m12 l4">
                        <p class='stats'>Elevation climbed</p>
                        <%console.log(yearTotals)%>

                            <!-- wrap in a new element -->
                            
                                <p class='dataLg'><%=yearTotals.ytd_ride_totals.elevation_gain%>

                        </p>
                        <p class='stats'> feet on my bike</p>

                        <p class="goalAlert"><% if (yearTotals.ytd_ride_totals.elevation_gain === 0) { %>
                            <%= "Time so start setting some goals!" %>
                            <% } %></p>
                    </div>
                    <div class="col s12 m12 l4">
                        <p class='stats'>I ran</p>
                        <!-- total miles ran -->
                        <p class='dataLg'><%= Math.floor(yearTotals.ytd_run_totals.distance / 1609) %></p>
                        <p class='stats'>miles </p>
                    </div>
                    <div class="col s12 m12 l4">
                        <p class='stats'>I swam</p>
                        <p class='dataLg'><%= yearTotals.ytd_swim_totals.distance %></p>
                        <p class='stats'>miles</p>
                        <p class="goalAlert"><% if (yearTotals.ytd_ride_totals.elevation_gain === 0) { %>
                            <%= "Time so start setting some goals!" %>
                            <% } %></p>
                    </div> 
                    
            </div>
        </div>     
    </div>
</section>



